{% load static %} 
{% load i18n %}

<!DOCTYPE html>
<html>
<div class="pi-section-w pi-section-white">
<div class="pi-section">

  <!-- Blog Timeline -->
  <div class="pi-timeline">

    {% for article in articles %}
    <div class="pi-timeline-date">July 2014</div>
    <!-- Blog timeline item -->
    <div class="pi-timeline-item pi-timeline-item-{% if forloop.counter|divisibleby:'2' %}left{% else %}right{% endif %}">
      <div class="pi-timeline-item-date"><span>1</span><span>June</span></div>
      <!-- Post -->

      <!-- Post thumbnail -->
      <div class="pi-img-w pi-img-round-corners pi-img-shadow-light pi-margin-bottom-25">
        <a href="#">
          <img src="img_external/gallery/blog-1.jpg" alt="">
            <span class="pi-img-overlay pi-no-padding pi-img-overlay-dark">
              <span class="pi-caption-centered">
                <span>
                  <span class="pi-caption-icon pi-caption-scale icon-plus"></span>
                </span>
              </span>
            </span>
        </a>
      </div>
      <!-- End post thumbnail -->

      <!-- Post content -->
      <h2 class="h3">
        <a href="#" class="pi-link-dark">{{ article.title }}</a>
      </h2>
      <ul class="pi-meta">
        <li><i class="icon-user"></i>by <a href="#">{{ article.author }}</a></li>
        <li><i class="icon-comment"></i><a href="#">2 Comments</a></li>
      </ul>
      <p>
        {{ article.description }}
      </p>
      <p>
        <a href="{{ article.source }}" target="_blank" class="btn pi-btn-base">
          Read
        </a>
      </p>
      <!-- End post content -->

      <!-- End post -->
    </div>
    <!-- End Blog timeline  item -->
    {% endfor %}

  </div>
  <!-- End Blog timeline -->

</div>
</div>
</html>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->
