{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div id="page"><!-- - - - - - - - - - SECTION - - - - - - - - - -->

<div class="tp-banner-container">
<div class="tp-banner pi-revolution-slider" >
<ul class="">

<!-- SLIDE  -->
<li data-transition="fade" data-slotamount="1" data-masterspeed="1500" >
<!-- MAIN IMAGE -->
<img src="{% static 'orange/img_external/revolution-slider/back-1.jpg' %}"  alt=""  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
<!-- LAYERS -->

<!-- LAYER NR. 1 -->
<div class="tp-caption sfb fadeout"
	 data-x="728"
	 data-y="39"
	 data-speed="800"
	 data-start="1500"
	 data-easing="Power4.easeOut"
	 data-endspeed="300"
	 data-endeasing="Power1.easeIn"
	 data-captionhidden="on"
	 style="z-index: 3"><img src="{% static 'orange/img_external/revolution-slider/light-bulb-1.png' %}" alt="">
</div>

<!-- LAYER NR. 2 -->
<div class="tp-caption fading"
	 data-x="570"
	 data-y="-117"
	 data-speed="2500"
	 data-start="4500"
	 data-easing="Power4.easeOut"
	 data-endspeed="600"
	 data-endeasing="Power1.easeIn"
	 data-captionhidden="on"
	 style="z-index: 4"><img src="{% static 'orange/img_external/revolution-slider/light-bulb-2.png' %}" alt="">
</div>

<!-- LAYER NR. 3 -->
<div class="tp-caption sft"
	 data-x="588"
	 data-y="60"
	 data-speed="500"
	 data-start="2000"
	 data-easing="Power4.easeOut"
	 data-endspeed="600"
	 data-endeasing="Power1.easeIn"
	 data-captionhidden="on"
	 style="z-index: 5"><img src="{% static 'orange/img_external/revolution-slider/brain.png' %}" alt="">
</div>

<!-- LAYER NR. 4 -->
<div class="tp-caption sft"
	 data-x="561"
	 data-y="181"
	 data-speed="500"
	 data-start="2200"
	 data-easing="Power4.easeOut"
	 data-endspeed="600"
	 data-endeasing="Power1.easeIn"
	 data-captionhidden="on"
	 style="z-index: 6"><img src="{% static 'orange/img_external/revolution-slider/graph-1.png' %}" alt="">
</div>

<!-- LAYER NR. 5 -->
<div class="tp-caption sft"
	 data-x="600"
	 data-y="295"
	 data-speed="500"
	 data-start="2400"
	 data-easing="Power4.easeOut"
	 data-endspeed="600"
	 data-endeasing="Power1.easeIn"
	 data-captionhidden="on"
	 style="z-index: 7"><img src="{% static 'orange/img_external/revolution-slider/success-1.png' %}" alt="">
</div>

<!-- LAYER NR. 6 -->
<div class="tp-caption sft"
	 data-x="645"
	 data-y="361"
	 data-speed="500"
	 data-start="2600"
	 data-easing="Power4.easeOut"
	 data-endspeed="600"
	 data-endeasing="Power1.easeIn"
	 data-captionhidden="on"
	 style="z-index: 8"><img src="{% static 'orange/img_external/revolution-slider/chart-1.png' %}" alt="">
</div>

<!-- LAYER NR. 7 -->
<div class="tp-caption sft"
	 data-x="1010"
	 data-y="62"
	 data-speed="500"
	 data-start="2800"
	 data-easing="Power4.easeOut"
	 data-endspeed="600"
	 data-endeasing="Power1.easeIn"
	 data-captionhidden="on"
	 style="z-index: 9"><img src="{% static 'orange/img_external/revolution-slider/puzzle.png' %}" alt="">
</div>

<!-- LAYER NR. 8 -->
<div class="tp-caption sft"
	 data-x="1000"
	 data-y="165"
	 data-speed="500"
	 data-start="3000"
	 data-easing="Power4.easeOut"
	 data-endspeed="600"
	 data-endeasing="Power1.easeIn"
	 data-captionhidden="on"
	 style="z-index: 10"><img src="{% static 'orange/img_external/revolution-slider/money-rec.png' %}" alt="">
</div>

<!-- LAYER NR. 9 -->
<div class="tp-caption sft"
	 data-x="1018"
	 data-y="230"
	 data-speed="500"
	 data-start="3200"
	 data-easing="Power4.easeOut"
	 data-endspeed="600"
	 data-endeasing="Power1.easeIn"
	 data-captionhidden="on"
	 style="z-index: 11"><img src="{% static 'orange/img_external/revolution-slider/money-rec-1.png' %}" alt="">
</div>

<!-- LAYER NR. 10 -->
<div class="tp-caption sft"
	 data-x="986"
	 data-y="353"
	 data-speed="500"
	 data-start="3200"
	 data-easing="Power4.easeOut"
	 data-endspeed="600"
	 data-endeasing="Power1.easeIn"
	 data-captionhidden="on"
	 style="z-index: 12"><img src="{% static 'orange/img_external/revolution-slider/messages.png' %}" alt="">
</div>

<!-- LAYER NR. 11 -->
<div class="tp-caption sft str"
	 data-x="45" data-hoffset="0"
	 data-y="100"
	 data-speed="500"
	 data-start="3400"
	 data-easing="Back.easeInOut"
	 data-endspeed="300"
	 style="z-index: 13; font-size: 50px; color: #fff; letter-spacing: -1px; text-shadow: 0 1px 0 rgba(0,0,0,0.2); font-weight: 300; line-height: 60px;">
	 Authoritative<br>
	Resources
</div>

<!-- LAYER NR. 12 -->
<div class="tp-caption sft str"
	 data-x="45" data-hoffset="0"
	 data-y="238"
	 data-speed="500"
	 data-start="3600"
	 data-easing="Back.easeInOut"
	 data-endspeed="300"
	 style="z-index: 14; font-size: 18px; color: rgba(250,250,250,0.85); font-weight: 300; line-height: 28px;">
	 Best resources selected from<br>
the works of experts
</div>

<!-- LAYER NR. 13 -->
<div class="tp-caption sft str"
	 data-x="45" data-hoffset="0"
	 data-y="320"
	 data-speed="500"
	 data-start="3800"
	 data-easing="Back.easeInOut"
	 data-endspeed="300"
	 style="z-index: 15;">
</div>
</li>

<!-- SLIDE  -->
<li data-transition="fade" data-slotamount="1" data-masterspeed="1500" >
<!-- MAIN IMAGE -->
<img src="{% static 'orange/img_external/revolution-slider/back-2.jpg'%}"  alt=""  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
<!-- LAYERS -->

<!-- LAYER NR. 1 -->
<div class="tp-caption sfb"
	 data-x="583"
	 data-y="60"
	 data-speed="800"
	 data-start="1500"
	 data-easing="Power4.easeOut"
	 data-endspeed="300"
	 data-endeasing="Power1.easeIn"
	 data-captionhidden="on"
	 style="z-index: 3"><img src="{% static 'orange/img_external/revolution-slider/cogs-1.png' %}" alt="">
</div>

<!-- LAYER NR. 2 -->
<div class="tp-caption sft str"
	 data-x="45" data-hoffset="0"
	 data-y="100"
	 data-speed="500"
	 data-start="2400"
	 data-easing="Back.easeInOut"
	 data-endspeed="300"
	 style="z-index: 4; font-size: 50px; color: #fff; letter-spacing: -1px; text-shadow: 0 1px 0 rgba(0,0,0,0.2); font-weight: 300; line-height: 60px;">
	 Cut Edge<br>Kwonledge
</div>

<!-- LAYER NR. 3 -->
<div class="tp-caption sft str"
	 data-x="45" data-hoffset="0"
	 data-y="238"
	 data-speed="500"
	 data-start="2600"
	 data-easing="Back.easeInOut"
	 data-endspeed="300"
	 style="z-index: 5; font-size: 18px; color: rgba(250,250,250,0.85); font-weight: 300; line-height: 28px;">
	 Daily updates to ensure you recieve the <br>
most advanced information
</div>

<!-- LAYER NR. 4 -->
<div class="tp-caption sft str"
	 data-x="45" data-hoffset="0"
	 data-y="320"
	 data-speed="500"
	 data-start="2800"
	 data-easing="Back.easeInOut"
	 data-endspeed="300"
	 style="z-index: 6;">
</div>

</li>

<!-- SLIDE  -->
<li data-transition="fade" data-slotamount="1" data-masterspeed="1500" >
<!-- MAIN IMAGE -->
<img src="{% static 'orange/img_external/revolution-slider/back-3.jpg'%}"  alt=""  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
<!-- LAYERS -->

<!-- LAYER NR. 1 -->
<div class="tp-caption sfb"
	 data-x="718"
	 data-y="386"
	 data-speed="800"
	 data-start="1500"
	 data-easing="Power4.easeOut"
	 data-endspeed="300"
	 data-endeasing="Power1.easeIn"
	 data-captionhidden="on"
	 style="z-index: 3"><img src="{% static 'orange/img_external/revolution-slider/cloud-1.png' %}" alt="">
</div>

<!-- LAYER NR. 2 -->
<div class="tp-caption sfb"
	 data-x="300"
	 data-y="386"
	 data-speed="800"
	 data-start="1900"
	 data-easing="Power4.easeOut"
	 data-endspeed="300"
	 data-endeasing="Power1.easeIn"
	 data-captionhidden="on"
	 style="z-index: 4"><img src="{% static 'orange/img_external/revolution-slider/cloud-2.png' %}" alt="">
</div>

<!-- LAYER NR. 3 -->
<div class="tp-caption sfb"
	 data-x="300"
	 data-y="386"
	 data-speed="800"
	 data-start="1900"
	 data-easing="Power4.easeOut"
	 data-endspeed="300"
	 data-endeasing="Power1.easeIn"
	 data-captionhidden="on"
	 style="z-index: 5"><img src="{% static 'orange/img_external/revolution-slider/cloud-3.png' %}" alt="">
</div>

<!-- LAYER NR. 4 -->
<div class="tp-caption sfb"
	 data-x="521"
	 data-y="49"
	 data-speed="800"
	 data-start="2300"
	 data-easing="Power4.easeOut"
	 data-endspeed="300"
	 data-endeasing="Power1.easeIn"
	 data-captionhidden="on"
	 style="z-index: 6"><img src="{% static 'orange/img_external/revolution-slider/rocket-1.png' %}" alt="">
</div>

<!-- LAYER NR. 5 -->
<div class="tp-caption sft str"
	 data-x="45" data-hoffset="0"
	 data-y="100"
	 data-speed="500"
	 data-start="2400"
	 data-easing="Back.easeInOut"
	 data-endspeed="300"
	 style="z-index: 7; font-size: 50px; color: #fff; letter-spacing: -1px; text-shadow: 0 1px 0 rgba(0,0,0,0.2); font-weight: 300; line-height: 60px;">
	 Global View
</div>

<!-- LAYER NR. 6 -->
<div class="tp-caption sft str"
	 data-x="45" data-hoffset="0"
	 data-y="238"
	 data-speed="500"
	 data-start="2600"
	 data-easing="Back.easeInOut"
	 data-endspeed="300"
	 style="z-index: 8; font-size: 18px; color: rgba(250,250,250,0.85); font-weight: 300; line-height: 28px;">
	Resources from the world without discrimination<br>
	Come and see the topics from different perspectives!
</div>

<!-- LAYER NR. 7 -->
<div class="tp-caption sft str"
	 data-x="45" data-hoffset="0"
	 data-y="320"
	 data-speed="500"
	 data-start="2800"
	 data-easing="Back.easeInOut"
	 data-endspeed="300"
	 style="z-index: 9;">
</div>

</li>
</ul>
</div>
</div>

<span class="revolution-slider"></span>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->


<!-- - - - - - - - - - SECTION - - - - - - - - - -->
<div class="pi-section-w pi-section-white piCaptions">
	<div class="pi-section pi-padding-bottom-30">
		<!-- Row -->
		<div class="pi-row pi-padding-bottom-20">
			
			<!-- Col 4 -->
			<div class="pi-col-xs-6 pi-col-sm-4 pi-padding-bottom-20">
			
				<div class="pi-icon-box">
				
					<div class="pi-icon-box-icon pi-icon-box-icon-square pi-icon-box-icon-base" style="background: #bbea76;">
						<i class="icon-leaf"></i>
					</div>
					
					<div class="pi-icon-box-content-2">
					
						<h4><a href="#" class="pi-link-dark">Biology</a></h4>

						<p class="pi-margin-bottom-10">
							Cell Biology, Neurology, Genetic, Ecology and etc.
						</p>

						<p>
							<a href="#">More info<i class="icon-right-open-mini pi-icon-right"></i></a>
						</p>
						
					</div>
					
				</div>
				
			</div>
			<!-- End col 4 -->
			
			<!-- Col 4 -->
			<div class="pi-col-xs-6 pi-col-sm-4 pi-padding-bottom-20">
			
				<div class="pi-icon-box">
				
					<div class="pi-icon-box-icon pi-icon-box-icon-square pi-icon-box-icon-base" style="background: #77DD77;">
						<i class="icon-monitor"></i>
					</div>
					
					<div class="pi-icon-box-content-2">
					
						<h4><a href="#" class="pi-link-dark">Computer Science</a></h4>

						<p class="pi-margin-bottom-10">
							Machine Learning, Computer Vision, Natural Language Processing and etc.
						</p>
						
						<p>
							<a href="/subject/?tag=信息学">More info<i class="icon-right-open-mini pi-icon-right"></i></a>
						</p>
						
					</div>
					
				</div>
				
			</div>
			<!-- End col 4 -->

			<div class="pi-clearfix pi-visible-xs"></div>

			<!-- Col 4 -->
			<div class="pi-col-xs-6 pi-col-sm-4 pi-padding-bottom-20">
			
				<div class="pi-icon-box">
				
					<div class="pi-icon-box-icon pi-icon-box-icon-square pi-icon-box-icon-base" style="background: #FF7F50;">
						<i class="icon-share"></i>
					</div>
					
					<div class="pi-icon-box-content-2">
					
						<h4><a href="#" class="pi-link-dark">Chemistry</a></h4>

						<p class="pi-margin-bottom-10">
							Material Chemistry, Synthesis, Sustainable Chemistry and etc.
						</p>
						
						<p>
							<a href="#">More info<i class="icon-right-open-mini pi-icon-right"></i></a>
						</p>
						
					</div>
					
				</div>
				
			</div>
			<!-- End col 4 -->

			<div class="pi-clearfix pi-hidden-xs"></div>

			<!-- Col 4 -->
			<div class="pi-col-xs-6 pi-col-sm-4 pi-padding-bottom-20">
			
				<div class="pi-icon-box">
				
					<div class="pi-icon-box-icon pi-icon-box-icon-square pi-icon-box-icon-base" style="background: #49C0C0;">
						<i class="icon-rocket"></i>
					</div>
					
					<div class="pi-icon-box-content-2">
					
						<h4><a href="#" class="pi-link-dark">Space research</a></h4>

						<p class="pi-margin-bottom-10">
							New findings about the solar system, the galaxy and the universe.
						</p>
						
						<p>
							<a href="#">More info<i class="icon-right-open-mini pi-icon-right"></i></a>
						</p>
						
					</div>
					
				</div>
				
			</div>
			<!-- End col 4 -->

			<div class="pi-clearfix pi-visible-xs"></div>

			<!-- Col 4 -->
			<div class="pi-col-xs-6 pi-col-sm-4 pi-padding-bottom-20">
			
				<div class="pi-icon-box">
				
					<div class="pi-icon-box-icon pi-icon-box-icon-square pi-icon-box-icon-base" style="background: #1E90FF;">
						<i class="icon-globe"></i>
					</div>
					
					<div class="pi-icon-box-content-2">
					
						<h4><a href="#" class="pi-link-dark">News</a></h4>

						<p class="pi-margin-bottom-10">
							A quick glance on what is happening around the world.
						</p>
						
						<p>
							<a href="#">More info<i class="icon-right-open-mini pi-icon-right"></i></a>
						</p>
						
					</div>
					
				</div>
				
			</div>
			<!-- End col 4 -->
			
			<!-- Col 4 -->
			<div class="pi-col-xs-6 pi-col-sm-4 pi-padding-bottom-20">
			
				<div class="pi-icon-box">
				
					<div class="pi-icon-box-icon pi-icon-box-icon-square pi-icon-box-icon-base" style="background: #D3D3;">
						<i class="icon-search"></i>
					</div>
					
					<div class="pi-icon-box-content-2">
					
						<h4><a href="#" class="pi-link-dark">COVID-19 related</a></h4>

						<p class="pi-margin-bottom-10">
							What scientists are doing to help us overcome this pandemic?
						</p>
						
						<p>
							<a href="#">More info<i class="icon-right-open-mini pi-icon-right"></i></a>
						</p>
						
					</div>
					
				</div>
				
			</div>
			<!-- End col 4 -->
			
		</div>
		<!-- End row -->

	</div>
</div>
<!-- - - - - - - - - - END SECTION - - - - - - - - - -->
<!-- - - - - - - - - - SECTION - - - - - - - - - -->
<div class="pi-section-w pi-section-white">
	<div class="pi-section pi-padding-bottom-10">

	<!-- Portfolio timeline -->
	<div class="pi-timeline">

	<div class="pi-timeline-date">{{ month }} {{ year }}</div>


	{% for text in texts %}
	<!-- Portfolio item -->
	<div class="pi-timeline-item pi-timeline-item-{% if forloop.counter|divisibleby:2 %}right{% else %}left{% endif %}">
		<div class="pi-timeline-item-date"><span>{{text.day}}</span><span>{{text.month}}</span></div>
		<!-- Post -->
			<!-- Post thumbnail -->
			<div class="pi-img-w pi-img-round-corners pi-img-shadow-light pi-margin-bottom-25">
				<a href="{{text.url}}" target="_blank">
					<img src="/{{text.image}}" alt="">
						<span class="pi-img-overlay pi-no-padding pi-img-overlay-dark">
							<span class="pi-caption-centered">
								<span>
									<span class="pi-caption-icon pi-caption-scale icon-plus"></span>
								</span>
							</span>
						</span>
				</a>
			</div>
			<!-- End post thumbnail -->

			<!-- Post content -->
			<h2 class="h3">
				<a href="{{text.url}}" target="_blank" class="pi-link-dark">{{text.title}}</a>
			</h2>
			<ul class="pi-meta">
				<li><i class="icon-user"></i>by <a>{{ text.from_user.username }}</a></li>
			</ul>
			<p>
				{{ text.text }}
			</p>
			<p>
				<a href="{{text.url}}" target="_blank" class="btn pi-btn-base">
					Read
				</a>
			</p>
			<!-- End post content -->

			<!-- End post -->
	</div>
	<!-- End portfolio item -->
	{% endfor %}

	</div>
	<!-- End portfolio gallery -->

	</div>
	</div>
</div>
<!-- - - - - - - - - - END SECTION - - - - - - - - - -->

{% endblock %}
