{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div id="page"><!-- - - - - - - - - - SECTION - - - - - - - - - -->
<div class="pi-section-w pi-section-white piICheck piStylishSelect" style="background: #f4f6f6;">
	<div class="pi-section pi-padding-bottom-60">
		
		<div class="pi-text-center pi-margin-bottom-50">
			<h1 class="pi-uppercase pi-weight-700 pi-has-border pi-has-tall-border pi-has-short-border">
				登录
			</h1>
		</div>
		
		<!-- Row -->
		<div class="pi-row">
			<form action="/signin/" method="POST">
				{% csrf_token %}
			<!-- Col 4 -->
			<div class="pi-col-md-4 pi-col-md-offset-4 pi-col-sm-6 pi-col-sm-offset-3 pi-col-xs-8 pi-col-xs-offset-2">
			
				<!-- Box -->
				<div class="pi-box pi-round pi-shadow-15">
					{% if login_errors %} 
					<div class="pi-alert-warning fade in"> 
						<p> <strong>错误</strong> 用户名或者密码错误 </p> 
					</div> 
					{% endif %}

					<!-- Email form -->
					<div class="form-group">
						<div class="pi-input-with-icon">
							<div class="pi-input-icon"><i class="icon-mail"></i></div>
							<input type="email" class="form-control" id="exampleInputEmail" placeholder="E-mail" name="username_or_email">
						</div>
					</div>
					<!-- End email form -->
					
					<!-- Password form -->
					<div class="form-group">
						<div class="pi-input-with-icon">
							<div class="pi-input-icon"><i class="icon-lock"></i></div>
							<input type="password" class="form-control" id="exampleInputPassword" placeholder="Password" name="password">
						</div>
					</div>
					<!-- End password form -->

					<p class="pi-pull-right pi-small-text">
						<a href="#">
							Forgot password?
						</a>
					</p>
					
					<!-- Checkbox -->
					<div class="checkbox">
						<label class="pi-small-text">
							<input type="checkbox">Remember me
						</label>
					</div>
					<!-- End checkbox -->

					<!-- Submit button -->
					<p>
						<button type="submit" class="btn pi-btn-base pi-btn-wide pi-weight-600">
							Sign In
						</button>
					</p>
					<!-- End submit button -->
					
				</div>
				<!-- End box -->
				
				<p class="pi-text-center">
					Don't have Account? <a href="#" class="pi-weight-600">Sign Up</a>
				</p>
				
			</div>
			<!-- End col 4 -->
			</form>
		</div>
		<!-- End row -->
		
	</div>
</div>
	<!-- - - - - - - - - - END SECTION - - - - - - - - - --></div>
{% endblock %}