{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Forms -->
<div class="pi-section-w pi-section-grey" styple="margin-top:50px">
	<div class="pi-section pi-padding-bottom-80">
			<!-- Col 6 -->
			<div class="pi-col-xs-12">
				
				<h2 class="pi-has-bg pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-25">
					Upload
				</h2>
				
				<p>
					You can upload resources here according to the format of our website. Administrators will review the information you uploaded within 24 hours. We are grateful for your update.
				</p>
				{% if success %}
				<div class="pi-alert-success fade in">
					<button type="button" class="pi-close" data-dismiss="alert">
						<i class="icon-cancel"></i>
					</button>	
					<p>
						<strong>提交成功！</strong> 请耐心等待我们的审核，谢谢！
					</p>
				</div>
				{% endif %}
				
				<hr class="pi-divider-gap-10">
				<form role="form" action="/upload/", method="POST" enctype="multipart/form-data">
				{% csrf_token %}
					<!-- First name form -->
					<div class="form-group">
						<label for="exampleInputName-3">Title</label>

						<div class="pi-input-with-icon">
							<div class="pi-input-icon"><i class="icon-tag"></i></div>
							<input type="text" class="form-control" name="title" placeholder="e.g. Challenges in Modern Physics">
						</div>
					</div>
					<!-- End first name form -->

					<!-- Company name form -->
					<div class="form-group">
						<label for="exampleInputCompanyname-3">Link（URL）</label>
						
						<div class="pi-input-with-icon">
							<div class="pi-input-icon"><i class="icon-link"></i></div>
							<input type="text" class="form-control" name="url" placeholder="e.g. http://www...">
						</div>
					</div>
					<!-- End company name form -->
					
					<!-- Email form -->
					<div class="form-group">
						<label for="exampleInputEmail-3">Related images</label>
						<input type="file" class="form-control" name="image" placeholder="e.g. mail@example.com">
					</div>
					<!-- End email form -->
					
					
					<!-- Message -->
					<div class="form-group">
						<label for="exampleInputMessage-3">Description</label>
						
						<div class="pi-input-with-icon">
							<div class="pi-input-icon"><i class="icon-pencil"></i></div>
							<textarea class="form-control" name="text" placeholder="Sum up the text, and tell us why you recommend it to us" rows="4"></textarea>
						</div>
					</div>
					<!-- End message form -->
										<!-- Phone number form -->
					<div class="form-group">
						<label for="exampleInputPhone-3">Subject</label>
						
						<div class="pi-input-with-icon">
							<select class="form-control" name="tag" >
								{% for tag in tags %}
								<option value="{{tag.id}}">{{tag.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<!-- End phone number form -->

					
					<hr class="pi-divider-gap-10">
					
					<!-- Submit button -->
					<p>
						<button type="submit" class="btn pi-btn-base pi-btn-big pi-uppercase pi-weight-700 pi-letter-spacing">
							<i class="icon-check pi-icon-left"></i>提交
						</button>
					</p>
					<!-- End submit button -->
					
				</form>
				<!-- End forms -->
		</div>
	</div>
</div>

{% endblock %}