{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Forms -->
<div class="pi-section-w pi-section-grey" styple="margin-top:50px">
	<div class="pi-section pi-padding-bottom-80">
			<!-- Col 6 -->
			<div class="pi-col-xs-12">
				
				<h2 class="pi-has-bg pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-25">
					上传内容
				</h2>
				
				<p>
					你可以上传符合本网站要求的相关内容，管理员会在24小时内进行审核，审核通过的内容我们会发布在网站上，谢谢！
				</p>
				{% if success %}
				<div class="pi-alert-success fade in">
					<button type="button" class="pi-close" data-dismiss="alert">
						<i class="icon-cancel"></i>
					</button>	
					<p>
						<strong>提交成功！</strong> 请耐心等待我们的审核，谢谢！
					</p>
				</div>
				{% endif %}
				
				<hr class="pi-divider-gap-10">
				<form role="form" action="/upload/", method="POST" enctype="multipart/form-data">
				{% csrf_token %}
					<!-- First name form -->
					<div class="form-group">
						<label for="exampleInputName-3">标题</label>
						
						<div class="pi-input-with-icon">
							<div class="pi-input-icon"><i class="icon-tag"></i></div>
							<input type="text" class="form-control" name="title" placeholder="e.g. 如何科学上网">
						</div>
					</div>
					<!-- End first name form -->
					
					<!-- Company name form -->
					<div class="form-group">
						<label for="exampleInputCompanyname-3">内容链接（URL）</label>
						
						<div class="pi-input-with-icon">
							<div class="pi-input-icon"><i class="icon-link"></i></div>
							<input type="text" class="form-control" name="url" placeholder="e.g. http://www...">
						</div>
					</div>
					<!-- End company name form -->
					
					<!-- Email form -->
					<div class="form-group">
						<label for="exampleInputEmail-3">相关图片</label>
						<input type="file" class="form-control" name="image" placeholder="e.g. mail@example.com">
					</div>
					<!-- End email form -->
					
					
					<!-- Message -->
					<div class="form-group">
						<label for="exampleInputMessage-3">相关文本描述</label>
						
						<div class="pi-input-with-icon">
							<div class="pi-input-icon"><i class="icon-pencil"></i></div>
							<textarea class="form-control" name="text" placeholder="写一些你的推荐理由" rows="4"></textarea>
						</div>
					</div>
					<!-- End message form -->
										<!-- Phone number form -->
					<div class="form-group">
						<label for="exampleInputPhone-3">所属主题</label>
						
						<div class="pi-input-with-icon">
							<select class="form-control" name="tag" >
								{% for tag in tags %}
								<option value="{{tag.id}}">{{tag.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<!-- End phone number form -->

					
					<hr class="pi-divider-gap-10">
					
					<!-- Submit button -->
					<p>
						<button type="submit" class="btn pi-btn-base pi-btn-big pi-uppercase pi-weight-700 pi-letter-spacing">
							<i class="icon-check pi-icon-left"></i>提交
						</button>
					</p>
					<!-- End submit button -->
					
				</form>
				<!-- End forms -->
		</div>
	</div>
</div>

{% endblock %}